In [2]:
import pandas as pd

students_classes = {'Alice': 'Physics',
                   'Jack': 'Chemistry',
                   'Molly': 'English',
                   'Sam': 'History'}

s = pd.Series(students_classes)
s

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [3]:
s.iloc[3]

'History'

In [8]:
s.loc['Molly']

'English'

In [9]:
s[3]

'History'

In [10]:
s['Molly']

'English'

In [11]:
grades = pd.Series([90, 80, 70, 60])

total = 0

for grade in grades:
    total+=grade
print(total/len(grades))

75.0

In [12]:
import numpy as np

In [13]:
total = np.sum(grades)
print(total/len(grades))

75.0

In [14]:
numbers = pd.Series(np.random.randint(0, 1000, 10000))

numbers.head()

0    649
1    735
2    720
3    278
4    882
dtype: int32

In [15]:
len(numbers)

10000

In [17]:
%%timeit -n 100
total = 0
for number in numbers:
    total+=number
total/len(numbers)

1.52 ms ± 95.8 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [18]:
%%timeit -n 100
total = np.sum(numbers)
total/len(numbers)

114 µs ± 24 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [19]:
numbers.head()

0    649
1    735
2    720
3    278
4    882
dtype: int32

In [20]:
numbers+=2
numbers.head()

0    651
1    737
2    722
3    280
4    884
dtype: int32

In [23]:
for label, value in numbers.iteritems():
    numbers.set_value(label, value+2)
numbers.head()

AttributeError: 'Series' object has no attribute 'set_value'

In [24]:
s = pd.Series([1, 2, 3])

s.loc['History'] = 102

s

0            1
1            2
2            3
History    102
dtype: int64

In [32]:
students_classes= pd.Series({'Alice': 'Physics',
                            'Jack': 'Chemistry',
                            'Molly': 'English',
                            'Sam': 'History'})

students_classes

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object

In [27]:
kelly_classes = pd.Series(['Philosophy', 'Arts', 'Math'], index=['Kelly', 'Kelly', 'Kelly'])
kelly_classes

Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object

In [34]:
all_students_classes = pd.concat([students_classes, kelly_classes])

all_students_classes

Alice       Physics
Jack      Chemistry
Molly       English
Sam         History
Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object

In [35]:
all_students_classes.loc['Kelly']

Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object