In [2]:
import pandas as pd

In [4]:
record1 = pd.Series({'Name': 'Alice',
                    'Class': 'Physics',
                    'Score': 85})
record2 = pd.Series({'Name': 'Jack',
                    'Class': 'Chemistry',
                    'Score': 82})
record3 = pd.Series({'Name': 'Helen',
                    'Class': 'Biology',
                    'Score': 90})

In [5]:
df = pd.DataFrame([record1, record2, record3], index = ['school1','school2','school1'])
df.head()

          Name      Class  Score
school1  Alice    Physics     85
school2   Jack  Chemistry     82
school1  Helen    Biology     90

In [6]:
students = [{'Name': 'Alice',
            'Class': 'Physics',
            'Score': 85},
           {'Name': 'Jack', 
           'Class': 'Chemistry',
           'Score': '82'},
           {'Name': 'Helen',
           'Class': 'Biology',
           'Score': 90}]

df = pd.DataFrame(students, index=['school1','school2','school1'])
df.head()

          Name      Class Score
school1  Alice    Physics    85
school2   Jack  Chemistry    82
school1  Helen    Biology    90

In [7]:
df.loc['school2']

Name          Jack
Class    Chemistry
Score           82
Name: school2, dtype: object

In [10]:
df.loc['school1']

          Name    Class Score
school1  Alice  Physics    85
school1  Helen  Biology    90

In [11]:
type(df.loc['school1'])

pandas.core.frame.DataFrame

In [12]:
type(df.loc['school2'])

pandas.core.series.Series

In [13]:
df.loc['school1', 'Name']

school1    Alice
school1    Helen
Name: Name, dtype: object

In [14]:
df.loc['school2', 'Name']

'Jack'

In [15]:
df.loc['school1', 'Score']

school1    85
school1    90
Name: Score, dtype: object

In [16]:
df.T

       school1    school2  school1
Name     Alice       Jack    Helen
Class  Physics  Chemistry  Biology
Score       85         82       90

In [17]:
df.T.loc['Name']

school1    Alice
school2     Jack
school1    Helen
Name: Name, dtype: object

In [19]:
df['Name']

school1    Alice
school2     Jack
school1    Helen
Name: Name, dtype: object

In [20]:
df.loc['Name']

KeyError: 'Name'

In [21]:
df.loc['school1']['Name']

school1    Alice
school1    Helen
Name: Name, dtype: object

In [22]:
print(type(df.loc['school1']))
print(type(df.loc['school1']['Name']))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [23]:
df.loc[:,['Name', 'Score']]

          Name Score
school1  Alice    85
school2   Jack    82
school1  Helen    90

In [24]:
df.drop('school1')

         Name      Class Score
school2  Jack  Chemistry    82

In [25]:
df

          Name      Class Score
school1  Alice    Physics    85
school2   Jack  Chemistry    82
school1  Helen    Biology    90

In [27]:
copy_df = df.copy()
copy_df.drop("Name", inplace=True, axis=1)
copy_df

             Class Score
school1    Physics    85
school2  Chemistry    82
school1    Biology    90

In [28]:
del copy_df['Class']
copy_df

        Score
school1    85
school2    82
school1    90

In [36]:
df["ClassRanking"] = None
df

          Name      Class Score ClassRanking
school1  Alice    Physics    85         None
school2   Jack  Chemistry    82         None
school1  Helen    Biology    90         None